@media screen and (min-width: 768px) {

  /* Hamburger always visible, menu layout horizontal */
  #nav-menu.open {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  #nav-menu a {
    padding: 0; /* remove extra mobile padding */
  }

  /* Album grid -> multiple columns */
  .album-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
